body{
    overflow-x: hidden;
    color: white;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.wrapper{
    color: black;
    text-align: center;
    padding: 2rem;
    margin:0px auto;
    max-width:800px;
    background-color:#482ff7;
    line-height: 40px;
}


button, #play-again{
    text-align: center;
    width: 15.6rem;
    height: 2.6rem;
    display: inline-block;
    margin: 10px;
    background-color:white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
}

#play-again{
    background-color: #46c3db;
}